#contact ul {
    list-style-type: none;
}

#contact ul li {
    display: inline-block;
    padding: 8px 14px;
    background: rgb(235, 235, 235);
    color: rgb(100, 100, 100);
}

#contact h4 {
    margin-top: 8px;
    font-size: 19px;
}

#contact span {
    display: block;
    color: rgb(90, 90, 90);
    margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
    #contact ul li {
        margin-bottom: 4px;
    }
}