* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 900px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 8px 0 12px 0;
    background: rgb(231, 231, 231);
    border-bottom: 1px solid rgba(180, 180, 180, 0.5);
}

header img {
    height: 100%;
    width: auto;
}

header a.icon {
    font-size: 24px;
    display: none;
    color: #000;
}

.subtitle {
    font-size: 21px;
    margin-bottom: 8px;
}

#call-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
    color: rgb(90, 90, 90);
    background: rgb(235, 235, 235);
    margin-bottom: 16px;
    border-left: 4px solid #2b5472;
}

#call-now i {
    margin-right: 8px;
}

#call-now p {
    font-size: 20px;
}

#call-now h3 {
    font-size: 20px;
    font-weight: normal;
}

#navbar {
    height: 48px;
    width: 100%;
    background: rgb(217, 217, 217);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#navbar ul {
    display: flex;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

#navbar a {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(60, 60, 60);
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

#navbar a.active {
    border-bottom: 1px solid rgb(60, 60, 60);
}

#navbar img {
    max-height: 200px;
}

main {
    padding-top: 1rem;
}

.side-col {
    flex: 25%;
    max-width: 25%;
    text-align: center;
    height: 100%;
}

.side-col h3 {
    color: rgb(23, 23, 23);
    font-size: 20px;
    margin-bottom: 8px;
}

.col {
    flex: 75%;
    margin: 0 4px;
}

.col img {
    width: 100%;
    height: auto;
}

.row {
    margin-bottom: 16px;
}

.flex-row {
    display: flex;
    margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
    #navbar ul {
        width: 100% !important;
    }

    .flex-row {
        flex-direction: column;
    }

    .col {
        flex: 100%;
        max-width: 100%;
    }

    .side-col {
        flex: 100%;
        max-width: 100%;
    }

    .col, .side-col {
        margin-bottom: 8px;
    }

    #call-now {
        flex-direction: column;
        text-align: center;
    }

    #call-now h3 {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 600px) {
    #navbar {
        display: none;
        height: auto !important;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #navbar li {
        margin: 16px 0;
    }

    header a.icon {
        display: inline-block;
        color: rgb(80, 80, 80);
    }

    .container {
        width: 100% !important;
        text-align: center;
    }

    header {
        height: 90px;
        padding: 12px;
        justify-content: space-between;
    }
}